@model ProjectDashboard.Models.StoriesModel
@{
    Layout = "../Shared/_MinimalLayout.cshtml";
    ViewBag.Title = string.Format("{0} stories", Model.Project.Name);
}
@if (Model.Stories == null || !Model.Stories.Any())
{
    <p>The project has no stories.</p>
}
else
{
    @Html.Partial("_storyList", new ProjectDashboard.Models.StoryListModel
                                    {
                                        RootHeaderLevel = 2,
                                        Stories = Model.Stories,
                                        ViewOptions = Model.ViewOptions,
                                    })
}
