@model ProjectDashboard.Models.StoriesModel
@{
    ViewBag.Title = "Stories";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               your project dashboard
            </p>
        </div>
    </section>
}
<h3>Stories</h3>
@if (Model.Stories == null || !Model.Stories.Any())
{
    <p>The project has no stories.</p>
}
else
{
    <p>@Html.ActionLink("Download as PDF", "Stories", new { Layout = "pdf" })</p>
    @Html.Partial("_storyList", new ProjectDashboard.Models.StoryListModel
                                    {
                                        RootHeaderLevel = 4,
                                        Stories = Model.Stories,
                                    })
}
